name: CI
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: >-
    ${{ github.workflow }}-${{ github.evten.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v6.22.2